<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="stylesheets/style.css">
	<script type="text/javascript" src="scripts/bundled.js"></script>
</head>
<body>
<!-- 	<form>
		<input placeholder="Instagram tag!"></input>
		<button>Submit</button>
	</form> -->

	<ul id="pictures">
	</ul>
</body>
</html>